<html>
    <body>
        <h1>Recommendations Based on Your Selection:</h1>
        {% for recommendation in recommendations %}
        <h2> {{recommendation['title']}} </h2>
        <h3> by {{recommendation['subtitle']}} </h3>
        {% if  recommendation['images'] %}
        <img src = {{recommendation['images']['coverart']}}>
        {% endif %}
        <!-- why doesn't this fail out -->
            {% if recommendation['hub']['actions'] %}
            <br>
            <a href={{recommendation['hub']['actions'][1]['uri']}}>Audio Sample</a>
            {% endif %}
        {% endfor %}
    </body>
</html>